h1, h2, h3, h4, p, ul, li {
	font-family: 'Merriweather', serif;
}

@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}

@media print {
  .no-print {
      display:none;
  }
}

body{
	margin: 0;
}


.header{
	text-align: center;
}

.container{
	width: 90%;
	text-align: center;
	margin: auto;
	border-top: solid 1px black;
}


.social  {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 4px;
	margin-top: 20px;
}


.social-icons  {
	width: 25px;	
}


.section{
	text-align: left;
}

.section h3{
	color: rgb(1, 54, 15);
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: -45px;
	/*text-shadow:2px 1px 1px rgba(0,0,0,0.4); */
}

.subsection{
	background-color: rgba(240,240,240,0.8);
	margin-bottom: 10px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2); 
	border: 1px solid rgba(220,220,220,1);
	padding: 15px;
	border-radius: 8px;
}


.left-column, .middle-column, .right-column{
	text-align: left;
}


.footer{
	text-align: center;
}


@media (min-width: 768px) {
  .grid {
  	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-gap:  20px;
  }

	#top-left{
		text-align: left;
	}

	#top-right{
		text-align: right;
	}


	.social  {
		width: 20%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 4px;
	}


}

